<section class="contacto-horarios-section">
  <div class="contenedor-contacto-horarios">
    <div class="columna-contacto">
      <h3 class="titulo-contacto">Teléfonos de contacto</h3>

      <div class="fila-contacto">
        <img src="../assets/icons/telefono-Footer.svg" alt="Teléfono Medellín" class="icono-telefono">
        <div>
          <p class="ciudad">Cali</p>
          <p class="telefono"><strong>318 241 8221</strong></p>
        </div>
      </div>
      <hr>
      <div class="fila-contacto">
        <img src="../assets/icons/telefono-Footer.svg" alt="Teléfono Bogotá" class="icono-telefono">
        <div>
          <p class="telefono"><strong>301 435 7879 </strong></p>
        </div>
      </div>
      <hr>
    </div>

    <div class="columna-horario">
      <h3 class="titulo-contacto">Dirección de nuestra sede</h3>

      <div class="horario-item">
        <span class="punto-verde-horario">●</span>
        <div>
          <p class="tipo-horario">Sede</p>
          <p>Av 4 Norte No. 6N - 67<br>
             Edificio Siglo XXI Of 704 - <strong>Cali</strong></p>
        </div>
      </div>
      <hr>

    </div>
  </div>
</section>
