<header class="main-carousel">
  <div class="header-phrase">
    <h1 class="hero-title">
      <span class="hero-strong">INVERSIONES CON VISIÓN</span>
      <span class="hero-light">PATRIMONIO CON PROPÓSITO.</span>
    </h1>
  </div>

  <div class="carousel">
    <div class="carousel-track-container">
      <ul class="carousel-track">
        <li class="carousel-slide current-slide">
          <img src="../assets/images/EncabezadoPrincipal.jpg.jpeg" alt="Slide 1" />
        </li>
        <li class="carousel-slide">
          <img src="../assets/images/header2-moramsa.webp" alt="Slide 2" />
        </li>
        <li class="carousel-slide">
          <img src="../assets/images/2150377123.jpg" alt="Slide 3" />
        </li>
      </ul>
    </div>

    <button class="carousel-button left">&#10094;</button>
    <button class="carousel-button right">&#10095;</button>
  </div>
</header>
