<div class="logo-media-container">
  <div class="logo-media-social">
    <img src="../assets/icons/iconoSocia.svg" alt="Abrir redes" />
  </div>

  <div class="social-icons">
    <a href="https://wa.link/kf7rmd" target="_blank" rel="noopener noreferrer">
      <img src="../assets/icons/whatsappIcono.svg" alt="Whatsapp" />
    </a>
    <a href="https://www.instagram.com/moramsasas/#" target="_blank">
      <img src="../assets/icons/instagramIcono.svg" alt="Instagram" />
    </a>

    <a href="https://www.linkedin.com/in/moramsa-capital-y-bienes-raices-s-a-s-9aa998401/" target="_blank">
      <img src="../assets/icons/linkedin-1-svgrepo-com (1).svg" alt="LinkedIn" />
    </a>

  </div>
</div>
