<nav class="nav-bar">
  <div class="nav-container">
    <div class="nav-logo">
      <a href="../index.html">
        <img src="../assets/icons/LOGO-MORAMSA_Mesa de trabajo1.svg" alt="Logo Moramsa" />
      </a>
    </div>
    <button class="nav-toggle" type="button" aria-label="Abrir menu" aria-expanded="false" aria-controls="nav-menu">
      <span></span>
      <span></span>
      <span></span>
    </button>
    <ul class="nav-menu" id="nav-menu">
      <li><a href="../index.html">Inicio</a></li>
      <li><a href="../aboutus.html">Nosotros</a></li>
      <li><a href="../udNegocios.html">Unidades de negocio</a></li>
      <li><a href="../experiencia.html">Nuestra experiencia</a></li>
    </ul>
  </div>
</nav>
