<div class="top-bar">
  <div class="top-bar-content">
    <div class="right-icons">
      <a href="#" class="top-link">
        <img src="../assets/icons/iconoLocation.svg" alt="" class="icon" />
        <span>Direcci&oacute;n: Av 4 Norte No. 6N - 67 Edificio Siglo XXI Of 704 - Cali</span>
      </a>
      <a href="mailto:moramsasas@gmail.com" class="top-link">
        <img src="../assets/icons/email-icon.svg" alt="" class="icon" />
        <span>Email: moramsasas@gmail.com</span>
      </a>
      <a href="tel:+573182418221" class="top-link">
        <img src="../assets/icons/iconoPhone.svg" alt="" class="icon" />
        <span>Contacto: 318 241 8221 - 301 435 7879</span>
      </a>
    </div>
  </div>
</div>
